In [ ]:
print("Name:\t\tAbdul Wasay")
print("Father's Name:\tMr. Abdul Quddus")
print("Date of Birth:\t2003-05-23")

Name:		Abdul Wasay
Father's Name:	Mr. Abdul Quddus
Date of Birth:	2003-05-23

In [ ]:

name = "Abdul Wasay"
father_name = "Mr. Abdul Quddus"
dob = "23-May-2003"
hobby = "Learning AI and Coding"
goal = "To become a successful AI Engineer"

print("===== My Bio =====")
print("Name:\t\t", name)
print("Father's Name:\t", father_name)
print("Date of Birth:\t", dob)
print("Hobby:\t\t", hobby)
print("Goal:\t\t", goal)

===== My Bio =====
Name:		 Abdul Wasay
Father's Name:	 Mr. Abdul Quddus
Date of Birth:	 23-May-2003
Hobby:		 Learning AI and Coding
Goal:		 To become a successful AI Engineer

In [ ]:
a=3
b=10
print('addition',a+b)
print('subtraction',a-b)
print('multiplication',a*b)
print('division',a/b)
print('power',a**b)
print('modulus',a%b)

Enter a number:6
6
addition 13
subtraction -7
multiplication 30
division 0.3
power 59049
modulus 3

In [ ]:
eng=70
isl=75
maths=80
print('total marks',eng+isl+maths)
print('percentage',((eng+isl+maths)/300)*100)

total marks 225
percentage 75.0

In [ ]:
salary=int(input('enter your salary'))
year=int(input('enter your year'))
bonus=salary/20
if (year>5):
    print('your bonus is',bonus)
else:
    print('no bonus')

enter your salary20000
enter your year6
your bonus is 1000.0

In [ ]:
age=int(input('enter your age'))
if(age>17):
    print('you are eligible for vote')
else:
    print('you are not eligible for vote')

enter your age67
you are eligible for vote

In [ ]:
n=int(input('enter number'))
if(n%2==0):
    print('number is even')
else:
    print('number is odd')

enter number4
number is even

In [ ]:
n=int(input('enter number'))
if(n%7==0):
    print('the number is devisible by  7 ')
else:
    print('the number is not devisible by 7')

enter number21
the number is devisible by  7

In [ ]:
m=int(input('enter number'))
if(n%5==0):
    print('hello')
else:
    print('bye')

enter number45
bye

In [ ]:
m=int(input('enter number'))
if(m%5==0):
    print('hello')
else:
    print('bye')

enter number45
hello

In [ ]:
num = int(input("Enter a number: "))
last_digit = num % 10

print("The last digit is:", last_digit)

Enter a number: 5678
The last digit is: 8

In [ ]:
l=int(input('enter lenth'))
b=int(input('enter breadth'))
if(l>b):
    print('area of rectangle is',l*b)
elif(b>l):
    print('area of rectangle is',l*b)
else:
    print('area of square is',l*b)

enter lenth34
enter breadth34
area of square is 1156

In [ ]:
a=int(input('enter number'))
b=int(input('enter number'))
if(a>b):
  print('a greater')
elif(b>a):
  print('b greater')
else:
  print('both are equal')

enter number45
enter number-34
a greater

In [45]:
quantity=int(input('enter total unit'))
total=quantity*100
disc=total*0.1
if(total>1000):
  print('total bill',total-disc)
else:
  print('total bill',total)

enter total unit1200
total bill 108000.0

In [48]:
per=float(input('enter percentage'))
if(per<25):
  print('grade F')
elif(per>=25 and per<45):
  print('grade E')
elif(per>=45 and per<50):
  print('grade D')
elif(per>=50 and per<60):
  print('grade C')
elif(per>=60 and per<80):
  print('grade B')
elif(per>=80 and per<100):
  print('grade A')

enter percentage89.98
grade A

In [51]:
Tclass=int(input('enter total class'))
Aclass=int(input('enter attended class'))
per=(Aclass/Tclass)*100
print('percentage',per)
if(per<75):
  print('not allowed to sit in exam')
else:
  print('allowed to sit in exam')

enter total class23
enter attended class12
percentage 52.17391304347826
not allowed to sit in exam

In [55]:
Tclass=int(input('enter total class'))
Aclass=int(input('enter attended class'))
per=(Aclass/Tclass)*100
print('percentage',per)
if(per<75):
  print('not allowed to sit in exam')
  reason=input('if you are absent due to the meadical cause type yes')
  if(reason=='yes'):
    print('allowed to sit in exam')
  else:
    print('still not allowed to sit in exam')
else:
  print('allowed to sit in exam')

enter total class65
enter attended class30
percentage 46.15384615384615
not allowed to sit in exam
if you are absent due to the meadical cause type yesno
still not allowed to sit in exam

In [56]:
year=int(input('enter year'))
if(year%4==0):
  print('leap year')
else:
  print('not a leap year')

enter year2034
not a leap year

In [59]:
age=int(input('enter age'))
gender=input('enter gender if you are male type M and otherwise type F')
marital_status=input('enter marital status if you are married type Y otherwise type N')
if(gender=='M' and age>40 and age<=60):
  print('you are only work in urban areas')
elif(gender=='F'):
  print('you are only work in urban areas')
elif(gender=='M' and age>20 and age<=40):
  print('you can work anywhere')
elif(age<20 or age>60):
  print('you cant work')
else:
  print('error')

enter age76
enter gender if you are male type M and otherwise type Fm
enter marital status if you are married type Y otherwise type Nn
you cant work

In [60]:
unit=int(input('enter unit'))
if(unit<=100):
  print('no charge')
elif(unit>100 and unit<=200):
  print('charge is',5*unit)
elif(unit>200):
  print('charge is',10*unit)

enter unit350
charge is 3500

In [61]:
age1 = int(input("Enter age of person 1: "))
age2 = int(input("Enter age of person 2: "))
age3 = int(input("Enter age of person 3: "))

oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)

print("Oldest age is:", oldest)
print("Youngest age is:", youngest)

Enter age of person 1: 23
Enter age of person 2: 34
Enter age of person 3: 12
Oldest age is: 34
Youngest age is: 12