In [1]:
salary=int(input('enter your salary'))
year=int(input('enter your year'))
bonus=salary/20
if (year>5):
    print('your bonus is',bonus)
else:
    print('no bonus')

enter your salary30000
enter your year6
your bonus is 1500.0

In [2]:
age=int(input('enter your age'))
if(age>17):
    print('you are eligible for vote')
else:
    print('you are not eligible for vote')

enter your age65
you are eligible for vote

In [3]:
n=int(input('enter number'))
if(n%2==0):
    print('number is even')
else:
    print('number is odd')

enter number4
number is even

In [4]:
n=int(input('enter number'))
if(n%7==0):
    print('the number is devisible by  7 ')
else:
    print('the number is not devisible by 7')

enter number6
the number is not devisible by 7

In [5]:
m=int(input('enter number'))
if(n%5==0):
    print('hello')
else:
    print('bye')

enter number3
bye

In [6]:
num = int(input("Enter a number: "))
last_digit = num % 10

print("The last digit is:", last_digit)

Enter a number: 463
The last digit is: 3

In [7]:
l=int(input('enter lenth'))
b=int(input('enter breadth'))
if(l>b):
    print('area of rectangle is',l*b)
elif(b>l):
    print('area of rectangle is',l*b)
else:
    print('area of square is',l*b)

enter lenth23
enter breadth23
area of square is 529

In [8]:
a=int(input('enter number'))
b=int(input('enter number'))
if(a>b):
  print('a greater')
elif(b>a):
  print('b greater')
else:
  print('both are equal')

enter number23
enter number32
b greater

In [9]:
quantity=int(input('enter total unit'))
total=quantity*100
disc=total*0.1
if(total>1000):
  print('total bill',total-disc)
else:
  print('total bill',total)

enter total unit23
total bill 2070.0

In [10]:
per=float(input('enter percentage'))
if(per<25):
  print('grade F')
elif(per>=25 and per<45):
  print('grade E')
elif(per>=45 and per<50):
  print('grade D')
elif(per>=50 and per<60):
  print('grade C')
elif(per>=60 and per<80):
  print('grade B')
elif(per>=80 and per<100):
  print('grade A')

enter percentage56
grade C

In [11]:
Tclass=int(input('enter total class'))
Aclass=int(input('enter attended class'))
per=(Aclass/Tclass)*100
print('percentage',per)
if(per<75):
  print('not allowed to sit in exam')
else:
  print('allowed to sit in exam')

enter total class45
enter attended class32
percentage 71.11111111111111
not allowed to sit in exam

In [13]:
Tclass=int(input('enter total class'))
Aclass=int(input('enter attended class'))
per=(Aclass/Tclass)*100
print('percentage',per)
if(per<75):
  print('not allowed to sit in exam')
  reason=input('if you are absent due to the meadical cause type yes')
  if(reason=='yes'):
    print('allowed to sit in exam')
  else:
    print('still not allowed to sit in exam')
else:
  print('allowed to sit in exam')

enter total class45
enter attended class32
percentage 71.11111111111111
not allowed to sit in exam
if you are absent due to the meadical cause type yesyes
allowed to sit in exam

In [14]:
year=int(input('enter year'))
if(year%4==0):
  print('leap year')
else:
  print('not a leap year')

enter year2024
leap year

In [15]:
age=int(input('enter age'))
gender=input('enter gender if you are male type M and otherwise type F')
marital_status=input('enter marital status if you are married type Y otherwise type N')
if(gender=='M' and age>40 and age<=60):
  print('you are only work in urban areas')
elif(gender=='F'):
  print('you are only work in urban areas')
elif(gender=='M' and age>20 and age<=40):
  print('you can work anywhere')
elif(age<20 or age>60):
  print('you cant work')
else:
  print('error')

enter age23
enter gender if you are male type M and otherwise type Ff
enter marital status if you are married type Y otherwise type Nn
error

In [16]:
unit=int(input('enter unit'))
if(unit<=100):
  print('no charge')
elif(unit>100 and unit<=200):
  print('charge is',5*unit)
elif(unit>200):
  print('charge is',10*unit)

enter unit345
charge is 3450

In [17]:
age1 = int(input("Enter age of person 1: "))
age2 = int(input("Enter age of person 2: "))
age3 = int(input("Enter age of person 3: "))

oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)

print("Oldest age is:", oldest)
print("Youngest age is:", youngest)

Enter age of person 1: 21
Enter age of person 2: 34
Enter age of person 3: 21
Oldest age is: 34
Youngest age is: 21