In [1]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [2]:
i = 20
while i >= 1:
    print(i, end=" ")
    i -= 1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [3]:
for i in range(2, 11, 2):
    print(i, end=" ")

2 4 6 8 10

In [4]:
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i, end=" ")

Enter a number: 5
1 2 3 4 5

In [5]:
n = int(input("Enter a number: "))
for i in range(1, n+1, 2):
    print(i, end=" ")

Enter a number: 10
1 3 5 7 9

In [6]:
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

In [7]:
n = int(input("Enter a number: "))
print(f"The first {n} terms of the series are:")
for i in range(1, n+1):
    print(i*i, end=" ")

Enter a number: 6
The first 6 terms of the series are:
1 4 9 16 25 36

In [8]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [13]:
a = 3
d = 4
for i in range(8):
    print(a + i*d, end=" ")

3 7 11 15 19 23 27 31

In [12]:
a = 2
r = 3
for i in range(6):
    print(a * (r**i), end=" ")

2 6 18 54 162 486

In [14]:
n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n+1):
    total += i
print("Sum from 1 to", n, "is:", total)

Enter a positive integer: 6
Sum from 1 to 6 is: 21

In [15]:
n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n+1):
    total += 1/i
print(f"The sum of reciprocals from 1 to {n} is: {total:.2f}")

Enter a positive integer: 6
The sum of reciprocals from 1 to 6 is: 2.45

In [21]:
total = 0
for i in range(5):
    num = int(input("Enter a number: "))
    total += num
print("The final running total is:", total)

Enter a number: 19
Enter a number: 23
Enter a number: 23
Enter a number: 43
Enter a number: 21
The final running total is: 129

In [18]:
n = int(input("Enter a number: "))

if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print(f"The factorial of {n} is {fact}")

Enter a number: 5
The factorial of 5 is 120

In [19]:
base = float(input("Enter base: "))
exp = int(input("Enter exponent: "))

result = 1
if exp > 0:
    for i in range(exp):
        result *= base
elif exp < 0:
    for i in range(-exp):
        result *= base
    result = 1 / result
else:
    result = 1

print(f"{base} raised to {exp} is {result}")

Enter base: 2
Enter exponent: 23
2.0 raised to 23 is 8388608.0